body, html{
	position: absolute;
	top:0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	font-family: RomanaBT-Bold;
}

body.waiting{
	background-image: none;
}

body{
	background-image: url(DA_Logo_spectra.jpg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

a{
	color:black;
}

.protozoa{
	position:fixed;
	bottom: 4%;
	right: 3%;
	color:black;
	z-index: 3;
}

canvas{
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 0;
}

body.flash.loaded canvas{
	z-index: 3;
}

body.flash #webcam{
	display: block;
	top: 0;
	position: absolute;
	z-index: 1;
}

body.flash .blinder{
	position: absolute;
	height: 100%;
	background-color: white;
	z-index: 2;
	top: 0;
}

.blinder.right{
	right: 0;
}

.blinder.left{
	left: 0;
}

body.flash.loaded #webcam{
	z-index: 0;
}

/*#webcam{
	position: absolute;
	z-index: 1000;
}*/

video{
	display: none;
}